# Ignore object files 
*.o

# Ignore swap files
*.swp
*.swo

# Ignore program binaries in root directory
clox

# Ignore anytime I flub :w
\:w

# Ignore clangd cache
.cache/

# Ignore any putput files with extension *.out
*.out

# Don't commit compile_commands.json
compile_commands.json
